<% if @images.any? %>
    <% @images.each do |image| %>
        <h2> <%= link_to image.name, image_path(image) %></h2>
    <% end %>
<% else %>
    No images yet
<% end %>

<br><br>Add image:

<%= link_to 'Add an image', new_image_path %>

<!--<form action="Class sort">-->
  <!--<input type="checkbox" name="sort" value="File"> File<br>-->
  <!--<input type="checkbox" name="sort" value="Use Camera" checked> Use Camera<br>-->

<!--</form>-->

<!--href="#">Add image!</a>-->

